
body{
  background-color: rgb(203 213 225 );

}
.Container {
  padding: 1rem 16rem;
  margin: auto;

}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 680px) and (max-width: 1180px) {
  .Container {
    padding: 1rem 6rem;
    margin: auto;
   
  }
}
@media (max-width: 720px) {
  .Container {
    padding: 1rem 2rem;
    margin: auto;
  }
}
